@page "/Enviado"
@inject NavigationManager NavigationManager
@inject DatabaseService DatabaseService
@inject ILocalStorageService ls;

<div class="sent">
    <h1 id="sent">El formulario fue completado con éxito.</h1>
    <p id="sent-p">Gracias por su colaboración.</p>
</div>


