@page "/formulario"
@inject DatabaseService DatabaseService
@inject NavigationManager NavigationManager

<h1>FORMULARIO INICIO</h1>

@if(error){
    <h3>ERROR: @error_str</h3>
}

<form @onsubmit="OnSubmitForm">
    <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="formCI">
    <input type="text" name="name" id="name" placeholder="Ingrese su nombre">
    <input type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido">
    <input type="date" name="born-date" id="born-date" placeholder="Ingrese su fecha de nacimiento"> 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@code{
    private bool showDocument = false;
    private bool showAgenda = false;
    public bool error = false;
    public string error_str = "";
    public string? formCI;
    private async Task OnSubmitForm()
    {
        int ci;
        try{
            ci = int.Parse(formCI ?? "J");
            bool res = DatabaseService.CheckUser(ci);

            if(res){
                error = false;
                NavigationManager.NavigateTo("/Carnet");
            }else{
                error = true;
                error_str = "El usuario no existe";
                await Task.Delay(2000);
                NavigationManager.NavigateTo("/registro");                
            }
        }

        catch(Exception){
            error = true;
            error_str = "La cedula debe ser un numero";
            return;
        }
    }
}