@inject DatabaseService DatabaseService
@inject NavigationManager NavigationManager

@page "/login"

<PageTitle>Iniciar sesión</PageTitle>

<form @onsubmit="OnSubmitForm">
    <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="formCI">
    <input type="password" name="password" id="password" placeholder="Ingrese su constraseña"> 
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>


@code {
    public string? formCI;
    public bool error = false;
    public string error_str = "";
   private async Task OnSubmitForm()
    {
        int ci;
        try{
            //(formCI ?? "a") si formCI no es un numero se intenta parsear J a int y eso da error :D
            ci = int.Parse(formCI ?? "J");
            bool res = await DatabaseService.CheckUser(ci);

            if(res){
                error = false;
                await Task.Delay(2000);
                NavigationManager.NavigateTo("/formulario");
            }else{
                error = true;
                error_str = "El usuario no existe";
                await Task.Delay(2000);
                NavigationManager.NavigateTo("/registro");                
            }
            
        }
        catch(Exception){
            error = true;
            error_str = "La cedula debe ser un numero";
            return;
        }

    }
}