@page "/"

@inject DatabaseService DatabaseService
@inject NavigationManager NavigationManager

<PageTitle>Iniciar sesión</PageTitle>

<div id="contenedor" class="container">
    <h1> INICIAR SESIÓN </h1>
    <hr />
    <form @onsubmit="OnSubmitForm">
        <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="formCI">
        <input type="password" name="password" id="password" placeholder="Ingrese su constraseña"> 
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
</div>


@code {
    public string? formCI;
    public bool error = false;
    public string error_str = "";
   private async Task OnSubmitForm()
    {
        int ci;
        try{
            //(formCI ?? "a") si formCI no es un numero se intenta parsear J a int y eso da error :D
            ci = int.Parse(formCI ?? "J");
            bool res = await DatabaseService.CheckUser(ci);

            if(res){
                error = false;
                await Task.Delay(2000);
                Console.WriteLine("Usuario váldo");
                NavigationManager.NavigateTo("/formulario");
            }else{
                error = true;
                error_str = "El usuario no existe";
                Console.WriteLine("Usuario inválido");
                await Task.Delay(2000);
                NavigationManager.NavigateTo("/registro");                
            }
            
        }
        catch(Exception){
            error = true;
            error_str = "La cedula debe ser un numero";
            return;
        }

    }
}