@page "/RegistroAgenda"
@inject DatabaseService DatabaseService 

<PageTitle>Registro Agenda</PageTitle>
        
<h2>Registro Agenda</h2>

    <form @onsubmit="InsertData">
        <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="this.ci">
        <input type="date" name="fechaAgenda" id="fechaAgenda" @bind="this.fechaAgenda">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

@code{
    private int ci;
    private DateOnly fechaAgenda;

    public Task<bool> InsertData()
    {
        DatabaseService.InsertAgenda(ci, fechaAgenda);
        // select de agendas a base de datos where ci null
        // asignar cedula del usuario a cedula de agenda y hacer update

        

        bool check = false;
        try
        {
            check = DatabaseService.InsertAgenda(ci, fechaAgenda);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al insertar datos: {ex.Message}");
        }
        return Task.FromResult(check);
    }
        
}