@page "/RegistroAgenda"
@inject DatabaseService DatabaseService 
@inject ILocalStorageService ls;

<PageTitle>Registro Agenda</PageTitle>
        
<h2>Registro Agenda</h2>

    <form @onsubmit="OnSubmitForm">
        <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="ci">
        <input type="date" name="fechaAgenda" id="fechaAgenda" @bind="fechaAgenda">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    @if(alert_str != "")
    {
    <div class="alert alert-success" role="alert">
        @alert_str
    </div>
    }

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Listado de fechas</h5>
        </div>
        
        <div class="card-body">
             @if (agendas != null && agendas.Length > 0)
            {
                <p>Fechas disponibles:</p>
                @foreach(var agenda in this.agendas)
                {
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@agenda</h5>
                        </div>
                    </div>
                    
                    <hr/>
                }
            }
            else
            {
                <p>No hay fechas disponibles</p>
            }
        </div>
       
    </div>


        



@code{
    private string ci;
    private DateOnly fechaAgenda;
    public string alert_str = "";
    public bool hayFecha;
    private string[] agendas;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        ci = await ls.GetItemAsync<string>("ci");
        
        if(ci != null)
        {
            this.ci = ci;
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    private async Task<bool> OnSubmitForm()
    {
        bool check = false;
        check = DatabaseService.selectAgendas(ci, fechaAgenda.ToString("yyyy-MM-dd"));
        Console.WriteLine(ci);

        await Task.Delay(1000);

        Console.WriteLine(fechaAgenda.ToString("yyyy-MM-dd"));
        hayFecha = DatabaseService.selectAgendas(ci, fechaAgenda.ToString("yyyy-MM-dd"));
        

        if(hayFecha == true)
        {
            alert_str = "Agenda realizada con éxito";
        }
        else
        {
            alert_str = "No existe una agenda disponible en esa fecha o ya está ocupada";
        }

        return check;
    }
}