@page "/registro"
@inject DatabaseService DatabaseService;

<h1 id = "register-page">Alta de funcionario</h1>
<form id= "alert alert-danger" @onsubmit="OnSubmitForm">
    <label>Cédula de identidad</label> 
    <input type="text" name="ci" id="ci" placeholder="Ingrese su cedula" @bind="ci">
    <label>Nombre</label> 
    <label>Contraseña</label> 
    <input type="password" name="password" id="password" placeholder="Ingrese una contraseña" @bind="password">
    <input type="text" name="name" id="name" placeholder="Ingrese su nombre" @bind="name">
    <label>Apellido</label>
    <input type="text" name="lastName" id="lastName" placeholder="Ingrese su apellido" @bind="lastName">
    <label>Fecha de nacimiento</label>
    <input type="date" name="bithDate" id="birthDate" placeholder="Ingrese su fecha de nacimiento" @bind="birthDate"> 
    <hr>
    <label>Ingrese su domicilio completo</label> 
    <input type="text" name="domicilioCompleto" id="domicilioCompleto" placeholder="Ingrese su domicilio de residencia" @bind="address"> 
    <label>Ingrese su correo electrónico</label> 
    <input type="text" name="correo" id="correo" placeholder="Ingrese su correo electrónico" @bind="email"> 
    <label>Ingrese su teléfono de contacto</label>
    <input type="text" name="telefono" id="telefono" placeholder="Ingrese su teléfono" @bind="telephone"> 
    <button id="botonRegistro" type="submit" class="btn btn-primary">Registrarse</button>


</form>

@code {
    private bool showDocument = false;
    private bool showAgenda = false;
    private int ci;
    private string name = "";
    private DateTime birthDate;
    private string address = "";
    private string email = "";
    private int telephone;
    private string lastName = "";

    private DateTime emissionDate;
    private DateTime expirationDate;
    private string password = "";


    private async Task<bool> OnSubmitForm()
    {
        bool check = false;
        try
        {
            //DatabaseService.UserRegisterTransaction(ci, name, lastName, birthDate, address, telephone, email, password);
            DatabaseService.RegisterUser(password);
            check = true;
        }
        catch (Exception e)
        {
            check = false;
            Console.WriteLine(e);
        }
        return check;
    } 
}

}



