.page[b-3dsd3z3yec] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-3dsd3z3yec] {
    flex: 1;
}

#contenedor[b-3dsd3z3yec]{
    display: block;
    margin: 20px;
    padding: 20px;
    border: black 1px solid;
}

.top-row[b-3dsd3z3yec] {
    background-color: #565554ff;
    border-bottom: 1px solid #bdb1b1;
    justify-content: center;
    height: 4rem;
    display: flex;
    align-items: center;
    color: #F7FFF7;
}

    .top-row[b-3dsd3z3yec]  a, .top-row .btn-link[b-3dsd3z3yec] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-3dsd3z3yec] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-3dsd3z3yec] {
        display: none;
    }

    .top-row.auth[b-3dsd3z3yec] {
        justify-content: space-between;
    }

    .top-row a[b-3dsd3z3yec], .top-row .btn-link[b-3dsd3z3yec] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-3dsd3z3yec] {
        flex-direction: row;
    }

    .sidebar[b-3dsd3z3yec] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-3dsd3z3yec] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-3dsd3z3yec], article[b-3dsd3z3yec] {
        padding-left: 2rem !important;
        padding-left: 1.5rem !important;
    }
}
