@inherits LayoutComponentBase
@inject DatabaseService DatabaseService
@inject NavigationManager NM;

<PageTitle>FuncionarioSano</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>FuncionarioSano</h1>
        </div>
        <article class="content px-4">
            @if(connected)
            {
                if(path.Contains("/admin")){
                    @Body
                }
                else if(checkIfValidTime()){
                    @Body
                }else{
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">¡Estás fuera de fecha para actualizar el carné de salud!</h4>
                        <hr>
                        @if(lastValidDate != null){
                            <p>La fecha límite para subir el carné de salud fue <strong>@lastValidDate</strong>.</p>
                        }else{
                            <p>En este año aún no hubo períodos válidos para actualizar la información.</p>
                        }
                    </div>
                }
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">¡Error de conexión con la base de datos!</h4>
                    <p>La base de datos no se pudo encontrar.</p>
                    <hr>
                    <p class="mb-0">Por favor, verifique que la base de datos este funcionando.</p>
                </div>
            }
        </article>
    </main>
</div>


@code{
    bool connected = false;
    bool loader = false;
    
    string path = "";
    protected override void OnInitialized()
    {
        connected = DatabaseService.CheckConnection();
        path = "/" + NM.Uri.Replace(NM.BaseUri, "");
    }

    string? lastValidDate = null;

    bool checkIfValidTime()
    {
        bool valid = DatabaseService.CheckIfValidDate();
        switch(valid){
            case false:
                DateTime? date = DatabaseService.GetLastValidDate();
                if(date != null){
                    lastValidDate = date.Value.ToString("dd/MM/yyyy");
                }

                return false;
            case true:
                return true;
        }
    }
}