@inherits LayoutComponentBase

<PageTitle>FuncionarioSano</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1> FuncionarioSano </h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
